body {
    font-family: 'Press Start 2P', 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #ffffff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(56, 56, 56);
    border: 4px solid #000000;
}

h1, h2, h3 {
    color: #ff9cf2;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000000;
    background-color: rgba(211, 108, 231, 0.26);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fafaff;
    padding: 20px;
    border: 4px solid #000000;
}

label {
    margin-bottom: 5px;
    color: #000000;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 0;
    background-color: #FFFFFF;
    color: #ff0000;
    font-family: 'Courier New', monospace;
}

button {
    padding: 10px;
    background-color: #ffffff;
    color: #FFFFFF;
    border: none;
    font-family: 'Press Start 2P', 'Courier New', monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border-top: 4px solid #B0C4DE;
}

footer a {
    color: #ff78e9;
    text-decoration: none;
}
